{
  "env": {
    "browser": true,
    "node": true
  },
  rules: {
    "no-cond-assign": true,
    "no-console": true,
    "no-constant-condition": true,
    "no-comma-dangle": false,
    "no-debugger": true,
    "no-dupe-keys": true,
    "no-empty": true,
    "no-ex-assign": true,
    "no-extra-boolean-cast": true,
    "no-extra-parens": false,
    "no-extra-semi": true,
    "no-func-assign": true,
    "no-negated-in-lhs": true,
    "no-obj-calls": true,
    "no-sparse-arrays": true,
    "no-unreachable": true,
    "use-isnan": true,
    "valid-jsdoc": true,
    "valid-typeof": true,
    "block-scoped-var": true,
    "complexity": [1,2],
    "curly": [2, "all"],
    "dot-notation": true,
    "eqeqeq": "smart",
    "no-alert": true,
    "no-caller": true,
    "no-div-regex": true,
    "no-else-return": true,
    "no-empty-label": true,
    "no-eq-null": false,
    "no-eval": true,
    "no-extend-native": true,
    "no-fallthrough": false,
    "no-floating-decimal": false,
    "no-implied-eval": true,
    "no-labels": true,
    "no-iterator": true,
    "no-lone-blocks": true,
    "no-loop-func": true,
    "no-multi-str": false,
    "no-native-reassign": true,
    "no-new": true,
    "no-new-func": true,
    "no-new-wrappers": true,
    "no-octal": true,
    "no-octal-escape": true,
    "no-proto": true,
    "no-redeclare": true,
    "no-return-assign": true,
    "no-script-url": true,
    "no-self-compare": true,
    "no-unused-expressions": true,
    "no-warning-comments": false,
    "no-with": true,
    "no-yoda": true,
    "radix": true,
    "wrap-iife": [2,"outside"],
    "no-global-strict": false,
    "no-extra-strict": true,
    "strict": true,
    "no-catch-shadow": true,
    "no-delete-var": true,
    "no-label-var": true,
    "no-shadow": false,
    "no-shadow-restricted-names": true,
    "no-undef": true,
    "no-undef-init": true,
    "no-unused-vars": [2, {"vars": "local", "args": "after-used"}],
    "no-use-before-define": true,
    "handle-callback-err": false,
    "no-path-concat": true,
    "no-process-exit": false,
    "no-sync": false,
    "brace-style": "1tbs",
    "camelcase": true,
    "consistent-this": [0, "self"],
    "func-names": false,
    "func-style": false,
    "new-cap": true,
    "new-parens": true,
    "no-nested-ternary": true,
    "no-array-constructor": true,
    "no-new-object": true,
    "no-spaced-func": true,
    "no-space-before-semi": true,
    "no-ternary": false,
    "no-underscore-dangle": false,
    "no-wrap-func": true,
    "quotes": [2, "single", "avoid-escape"],
    "quote-props": false,
    "semi": [2, "always"],
    "sort-vars": true,
    "space-in-brackets": [2, "never"],
    "space-infix-ops": true,
    "space-return-throw-case": true,
    "space-unary-word-ops": true,
    "max-nested-callbacks": [2, 4],
    "one-var": false,
    "wrap-regex": true,
    "max-len": [1, 80, 4],
    "no-mixed-requires": true,
    "consistent-return": false
  }
}